html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "¸¼Àº °íµñ", "Malgun Gothic", "±¼¸²", "Gulim", Verdan, Arial, Tahoma;
}

#wrap {width:500px;
			margin:0 auto;
			background-color:#fff
}

#left{float:left;}

#left a{color:#888; text-align:center; margin:5px 30px;}

#right_top{margin:0 0 0 10px;}

#right_middle a{text-decoration:none;}

span.gray{color:#888; margin:0 5px 0 0;}
